@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mystery+Quest&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86.9%;
  box-sizing: border-box;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.logo {
  margin: 21px 0;
  display: inline-block;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #000;
  font-weight: 500;
  font-family: 'Mystery Quest', cursive;
  font-size: 23px;
  transition: .5s ease;
}

.logo a figure {
  width: 42px;
  margin: 0 0 2px 10px;
}

.logo a:hover,
.logo a:hover figure {
  color: #666;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* sorry styling starts here */

.sorry {
  height: 75vh;
  font-weight: 600;
  font-size: 34px;
  text-align: center;
}

.no { display: none; }

/* sorry styling ends here */

/* catInfo styling starts here */
.cat-info { margin: 15px auto; }

.cat-info .wrapper {
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 55px
}

.img { width: 40%; }

.cat-info .wrapper figure {
  width: 85%;
  height: 340px;
  position: relative;
}

.cat-info .wrapper figure img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.cat-info .wrapper figure::before {
  content: '';
  width: 3%;
  height: 80%;
  margin: auto 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  background: #dec68b;
}

.info { width: 60%; }

.gallery h2,
.info h2 {
  font-weight: 600;
  font-size: 34px;
}

.info > p {
  width: 94%;
  margin: 25px 0;
  color: #333;
  font-weight: 500;
  font-size: 17px;
}

.info > ul {
  width: 83%;
  margin-top: 35px;
}

.info > ul > li {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 15px;
}

.info > ul > li > p {
  margin-left: 6px;
  font-weight: 500;
}

.info > ul > li h3 { font-weight: 900; }

.levels {
  padding: 0;
  margin: 5px 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.levels li {
  height: 11px;
  padding: 0 28px;
  margin-right: 10px;
  border-radius: 10px;
  text-indent: -9999px;
}

.fill { background-color: #544439; }
.empty { background-color: #d3cfcc; }
/* catInfo styling ends here */

/* catGallery styling starts here */
.gallery {
  padding: 20px 0 40px 0;
  margin: 20px auto 40px auto;
}

.gallery ul {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3%;
}

.gallery ul li {
  width: 22%;
  height: 260px;
  margin-bottom: 4%;
  border-radius: 20px;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery ul li img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}
/* catGallery styling ends here */

/* toggleBtn styling starts here */
.toggleUp {
  width: 100%;
  height: 0;
  display: none;
  position: relative;
  text-indent: -9999px;
}

.toggleUp::after {
  content: '\f106';
  padding: 6px 12px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #000;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 22px;
  opacity: .3;
  cursor: pointer;
  text-indent: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.toggleUp:hover::after { opacity: .8; }
.hidden { overflow: hidden; }

.flex { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex 
}
/* toggleBtn styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer .wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 30px 10px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000;
}

footer .logo { margin-left: 50px; }
footer .logo a { font-weight: 400; }

footer .logo a,
footer span,
footer span a {
  color: #fff;
}

footer .wrapper > span a {
  font-weight: 600;
  text-decoration: underline;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

footer .wrapper > span { letter-spacing: .5px; }
footer .wrapper > span a:hover { color: #666; }

footer .wrapper > span small {
  margin-right: 10px;
  font-size: 20px;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  .info > ul { width: 100%; }
  .cat-info .wrapper { gap: 0; }
  .img { width: 45%; }
  .info { width: 55%; }

  .info > ul > li:nth-child(1),
  .info > ul > li:nth-child(2),
  .info > ul > li:nth-child(3) {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .wrapper { width: 90%; }

  .cat-info .wrapper {
    gap: 0;
    padding: 0;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .cat-info .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .info,
  .img {
    width: 100%;
    text-align: center;
  }

  .info h2 { margin-bottom: 20px; }

  .info > p {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px;
  }

  .info > ul {
    width: 70%;
    margin: 30px auto 0 auto;
  }

  .info > ul > li:nth-child(1),
  .info > ul > li:nth-child(2),
  .info > ul > li:nth-child(3) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .cat-info .wrapper figure {
    width: 50%;
    margin: 0 auto 30px auto;
  }

  .gallery ul {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .gallery ul li { width: 30%; }
}


/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .info > ul { width: 80%; }
  .gallery ul li { width: 45%; }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {

  .cat-info .wrapper figure { width: 70%; }

  .info > ul > li:nth-child(1),
  .info > ul > li:nth-child(2),
  .info > ul > li:nth-child(3) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info > ul { width: 90%; }

  .info > ul > li {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .info > p { padding: 0 10px; }
  .info ul li h3 { margin-bottom: 10px; }
  .info > ul > li p { margin-left: 0; }
  .levels { margin: 0 auto; }
  .gallery { text-align: center; }

  .gallery ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .gallery ul li {
    width: 70%;
    margin-bottom: 40px;
  }

  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  footer .logo {
    padding: 0;
    margin: 0;
  }

  footer h1,
  footer span {
    padding: 0 0 0 30px;
    margin: 0;
  }

  /* remove hover effects */
  .logo a:hover,
  .logo a:hover figure {
    color: #000;
  }

  .toggleUp:hover::after { opacity: .3; }
  footer .wrapper > span a:hover { color: #fff; }
}

/*media query for 320px starts here*/
@media only screen and (max-width: 414px) {
  .gallery ul li { width: 90%; }

  .cat-info .wrapper figure::before {
    width: 5%;
    height: 70%;
    right: 100%;
  }

  .levels li { padding: 0 20px; }
}