@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mystery+Quest&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

.container { 
  width: 86.9%;
  margin: 0 auto;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 83%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

footer .wrapper,
header .wrapper { width: 100%; }

.logo a {
  padding: 22px 0;
  display: flex;
  align-items: flex-end;
  color: #000;
  font-family: 'Mystery Quest', cursive;
  font-size: 23px;
}

.logo a figure {
  width: 42px;
  margin-left: 10px;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* banner styling starts here */
.banner {
  height: 506px;
  margin-top: 5px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: url('https://via.placeholder.com/1300x700');
  background-size: cover;
}

.banner-content { color: #fff; }

.banner-content h2 {
  display: flex;
  align-items: center;
  font-family: 'Mystery Quest', cursive;
  font-size: 60px;
}

.banner-content h2 figure {
  width: 9%;
  margin: 0 0 20px 18px;
}

.banner-content p {
  width: 38%;
  margin-bottom: 30px;
  font-size: 22px;
  letter-spacing: .5px;
}
.modal { display: none; }

.banner form { 
  width: 38%;
  margin: 50px 0 30px 0;
  border-radius: 50px;
  overflow: hidden;
}

.banner-content form div {
  width: 100%;
  background: #fff;
}

.banner-content form input {
  width: 80%;
  padding: 24px 0 24px 26px;
  border: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  outline: none;
}

.banner-content form input::placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .5px;
}

.banner-content form button {
  border: none;
  background: none;
  position: relative;
  outline: none;
  text-indent: -9999px;
}

footer span::before,
.about-cats div > a::after,
.banner-content form button::after,
.breeds div > a::after {
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
}

.banner-content form button::after {
  content: '\f002';
  color: #000;
  font-size: 17px;
  text-indent: 0;
}
/* banner styling ends here */

/* summary styling starts here */
.breeds {
  background: #e3e1dc;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.breeds .wrapper { padding: 38px 0; }

.breeds p {
  position: relative;
  color: #444343;
  font-weight: 600;
  font-size: 17px;
}

.about-cats div > h2::before,
.breeds p::after {
  content: '';
  width: 50px;
  border: 1.5px solid #333;
  background: #333;
  position: absolute;
  top: 28px;
  left: 0;
  font-weight: 900;
  font-size: 24px;
}

.breeds .wrapper div {
  margin: 46px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.breeds h2,
.about-cats div > h2 {
  width: 50%;
  font-weight: 700;
  font-size: 44px;
}

.about-cats div > a,
.breeds div > a {
  padding: 10px;
  color: #666;
  font-size: 16px;
  font-weight: 600;
  transition: .5s ease;
}

.about-cats div > a::after,
.breeds div > a::after {
  content: '\f30b';
  margin-left: 10px;
  color: #666;
  font-size: 16px;
  transition: .5s ease;
}

.about-cats div > a:hover,
.about-cats div > a:hover::after,
.breeds div > a:hover,
.breeds div > a:hover::after {
  color: #333;
}

.breeds ul {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.breeds ul li { position: relative; }

.breeds ul figure {
  width: 210px;
  height: 210px;
  border-radius: 25px;
  overflow: hidden;
}

.breeds ul li:first-child figure::before {
  content: '';
  width: 6%;
  height: 65%;
  margin: 30px auto 20px auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  background: #dec68b;
}

.breeds ul img {
  width: auto;
  height: 100%;
  z-index: 10;
}

.breeds ul a {
  margin-top: 15px;
  color: #000;
  font-weight: 600;
}
/* summary styling ends here */

/* question styling starts here */
.about-cats {
  padding: 50px 0;
  margin: 50px auto;
}

.about-cats .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.about-cats .wrapper div {
  width: 45%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-cats div > h2 {
  width: 100%;
  position: relative;
  letter-spacing: .5px;
}

.about-cats div > h2::before { top: -20%; }

.about-cats div > p {
  margin: 40px 0;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 23px;
}

.about-cats div > a {
  padding: 18px 0 0 0;
  color: #666;
  font-weight: 600;
  font-size: 16px;
}

.about-cats ul {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-auto-rows: 10px;
  grid-gap: 20px;
}

.about-cats ul li {
  border-radius: 25px;
  overflow: hidden;
}

.about-cats ul li:first-child {
  grid-column: 1/12;
  grid-row: 1/7;
}

.about-cats ul li:nth-child(2) {
  grid-column: 12/22;
  grid-row: 1/13;
}

.about-cats ul li:last-child {
  grid-column: 4/12;
  grid-row: 7/17;
}

.about-cats ul li img {
  width: auto;
  height: 100%;
}
/* question styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer .wrapper {
  box-sizing: border-box;
  padding: 9px 30px 13px 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
}

footer .logo { margin-left: 50px; }

footer .logo a,
footer span,
footer span a {
  color: #fff;
}

footer .wrapper > span a {
  font-weight: 600;
  text-decoration: underline;
  transition: .5s ease;
}

footer .wrapper > span { letter-spacing: .5px; }

footer .wrapper > span a:hover { color: #666; }
footer .wrapper > span small {
  margin-right: 10px;
  font-size: 20px;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  