@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mystery+Quest&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86.9%;
  box-sizing: border-box;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.logo a {
  padding: 21px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #000;
  font-weight: 500;
  font-family: 'Mystery Quest', cursive;
  font-size: 22px;
  transition: .5s ease;
}

.logo a figure {
  width: 42px;
  margin: 0 0 2px 10px;
}

.logo a:hover,
.logo a:hover figure {
  color: #666;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* banner styling starts here */
.banner { width: 100%; }

.banner .wrapper {
  padding: 52px 4% 52px 4%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url('https://via.placeholder.com/1300x700');
  background-size: 100% 100%;
}

.banner-content {
  margin: 52px 4.5%;
  color: #fff;
}

.banner-content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Mystery Quest', cursive;
  font-size: 58px;
}

.banner-content h2 figure {
  width: 12%;
  margin: 0 0 20px 18px;
}

.banner-content p {
  width: 50%;
  margin-bottom: 35px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: .5px;
}

.close { display: none; }

.layer {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .7;
  z-index: 10;
  text-indent: -9999px;
}

.modal {
  width: 52%;
  position: relative;
}

.banner form { 
  width: 100%;
  height: auto;
  margin: 45px 0 30px 0;
}

.modal-list {
  width: 100%;
  height: 260%;
  padding: 20px 0;
  border-radius: 25px;
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  background-color: #fff;
  overflow-y: hidden;
  z-index: 10;
}

.modal-list ul {
  height: 100%;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
}

.modal-list ul::-webkit-scrollbar { width: 4px; }
.modal-list ul::-webkit-scrollbar-track { background: #f1f1f1; }
.modal-list ul::-webkit-scrollbar-thumb { background: #888; }
.modal-list ul::-webkit-scrollbar-thumb:hover { background: #555; }
.modal-list li { margin: 0 30px 0 0; }

.modal-list li a {
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  color: #333;
  font-weight: 600;
  font-size: 16px;
}

.modal-list li a:hover { background: #e3e1dc; }

.error {
  position: absolute;
  top: 115%;
  left: 25px;
  color: #ff1d1d;
  font-weight: 600;
  font-size: 12px;
}

.banner-content form > div:first-child {
  width: 100%;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  overflow: hidden;
}

.banner-content form input {
  width: 80%;
  padding: 24px 0 24px 26px;
  border: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  outline: none;
}

.no { display: none; }

.banner-content form input::-webkit-input-placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .5px;
}

.banner-content form input::-moz-placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .5px;
}

.banner-content form input:-ms-input-placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .5px;
}

.banner-content form input::-ms-input-placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .5px;
}

.banner-content form input::placeholder {
  color: #333;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .5px;
}

.banner-content form button {
  margin-right: 10px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  position: relative;
  outline: none;
  text-indent: -9999px;
}

footer span::before,
.about-cats div > a::after,
.banner-content form button::after,
.breeds div > a::after {
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
}

.banner-content form button::after {
  content: '\f002';
  color: #000;
  font-size: 17px;
  text-indent: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner-content form button:hover::after { color: #666; }
/* banner styling ends here */

/* summary styling starts here */
.breeds .wrapper {
  padding: 38px 4%;
  background: #e3e1dc;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.breeds p,
.breeds ul {
  margin: 0 4.5%;
}

.breeds p {
  position: relative;
  color: #444343;
  font-weight: 500;
  font-size: 17px;
}

.about-cats div > h2::before,
.breeds p::after {
  content: '';
  width: 50px;
  border: 1.5px solid #333;
  background: #333;
  position: absolute;
  top: 28px;
  left: 0;
  font-weight: 900;
  font-size: 24px;
}

.breeds .wrapper div {
  margin: 46px 3.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.breeds h2,
.about-cats div > h2 {
  width: 50%;
  font-weight: 900;
  font-size: 44px;
}

.about-cats div > a,
.breeds div > a {
  padding: 10px;
  color: #666;
  font-weight: 900;
  font-size: 16px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.about-cats div > a::after,
.breeds div > a::after {
  content: '\f30b';
  margin-left: 10px;
  color: #666;
  font-size: 16px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.about-cats div > a:hover,
.about-cats div > a:hover::after,
.breeds div > a:hover,
.breeds div > a:hover::after {
  color: #333;
}

.breeds ul {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 4%;
}

.breeds ul li {
  margin-bottom: 30px;
  position: relative;
}

.breeds ul figure {
  width: 210px;
  height: 210px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.breeds ul li:first-child figure::before {
  content: '';
  width: 6%;
  height: 65%;
  margin-top: 15%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  background: #dec68b;
}

.breeds ul img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
}

.breeds ul a {
  margin-top: 15px;
  color: #000;
  font-weight: 600;
  transition: .5s ease;
}

.breeds ul a:hover { color: #666; }
/* summary styling ends here */

/* question styling starts here */
.about-cats {
  padding: 50px 0;
  margin: 50px auto;
}

.about-cats .wrapper {
  padding: 0 4%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5%;
}

.about-cats .wrapper div {
  width: 45%;
  padding-left: 4.5%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-cats div > h2 {
  width: 100%;
  position: relative;
  letter-spacing: .5px;
}

.about-cats div > h2::before { top: -20%; }

.about-cats div > p {
  margin: 40px 0;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 23px;
}

.about-cats div > a {
  padding: 18px 0 0 0;
  color: #666;
  font-weight: 900;
  font-size: 16px;
}

.about-cats ul {
  width: 55%;
  padding-right: 4.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(21, 1fr);
  grid-auto-rows: 10px;
  grid-gap: 20px;
}

.about-cats ul li {
  border-radius: 25px;
  overflow: hidden;
}

.about-cats ul li:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.about-cats ul li:nth-child(2) {
  -ms-grid-column: 12;
  -ms-grid-column-span: 10;
  grid-column: 12/22;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1/13;
}

.about-cats ul li:last-child {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
  -ms-grid-row: 7;
  -ms-grid-row-span: 10;
  grid-row: 7/17;
}

.about-cats ul li img {
  width: auto;
  height: 100%;
}
/* question styling ends here */

/* toggleBtn styling starts here */
.toggleUp {
  display: none;
  width: 100%;
  height: 0;
  position: relative;
  text-indent: -9999px;
}

.toggleUp::after {
  content: '\f106';
  padding: 6px 12px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #000;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 22px;
  opacity: .3;
  cursor: pointer;
  text-indent: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.toggleUp:hover::after { opacity: .8; }
.hidden { overflow: hidden; }

.flex { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex 
}
/* toggleBtn styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer .wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 4% 12px 4%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000;
}

footer h1 { margin-left: 4.5%; }
footer span { margin-right: 4.5%; }

footer .logo a,
footer span,
footer span a {
  color: #fff;
  transition: .5s ease;
}

footer .logo a { font-weight: 400; }
footer h1 figure { width: 42px; }
footer .logo a:hover { color: #c2c1bf; }

footer .wrapper > span a {
  font-weight: 600;
  text-decoration: underline;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

footer .wrapper > span { letter-spacing: .5px; }
footer .wrapper > span a:hover { color: #666; }
footer .wrapper > span small { font-size: 20px; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1300px starts here*/
@media only screen and (max-width: 1300px) {
  .breeds ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .wrapper { width: 90%; }

  .banner .wrapper,
  .breeds .wrapper,
  .about-cats .wrapper,
  footer .wrapper {
    padding-left: 2%;
    padding-right: 2%;
  }

  .breeds ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .breeds h2 { width: 70%; }
  .breeds ul li  { margin-bottom: 30px; }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .banner .wrapper { padding: 30px 2%; }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .breeds ul figure { width: 180px; }

  .about-cats .wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #fff;
  }

  .banner-content { margin: 0 4%; }
  .about-cats ul { margin-top: 30px; }

  .about-cats .wrapper > div,
  .about-cats ul {
    width: 100%;
  }

  footer .wrapper {
    padding: 10px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }

  .logo { padding: 0; }

  footer h1,
  footer span {
    padding: 0 20px;
    margin: 0;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .banner .wrapper {
    padding: 0 2%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .banner-content h2 figure { display: none; }

  .banner-content h2 { font-size: 28px; }
  .banner-content p { font-size: 18px; }
  .banner-content button::after { margin-right: 10px; }
  .banner-content { margin: 20px 4%; }
  .breeds .wrapper > div { margin: 40px 4%; }

  .breeds ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .breeds ul figure { min-width: 10px; }

  .breeds > div h2 {
    width: 100%;
    font-size: 32px;
  }

  .banner-content p { width: 65%; }
  .modal { width: 50%; }
  .banner-content form { margin: 0; }
  .banner-content form div input { padding: 15px 20px; }

  .breeds ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .breeds div > a { display: none; }
  .breeds ul li { text-align: center; }

  .about-cats .wrapper div,
  .about-cats ul { 
    width: 100%;
    padding: 0;
    margin: auto 0;
  }

  .about-cats ul {
    width: 90%;
    padding-right: 0;
    margin: 30px auto 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(13, 1fr);
    -ms-grid-columns: 10px;
    grid-template-columns: 10px;
    grid-gap: 10px;
  }

  .about-cats ul li:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
  }
  
  .about-cats ul li:nth-child(2) {
    -ms-grid-column: 8;
    -ms-grid-column-span: 6;
    grid-column: 8/14;
    -ms-grid-row: 1;
    -ms-grid-row-span: 12;
    grid-row: 1/13;
  }
  
  .about-cats ul li:last-child {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
    -ms-grid-row: 7;
    -ms-grid-row-span: 10;
    grid-row: 7/17;
  }

  .modal.respo {
    width: 80%;
    min-height: 20%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: auto;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 15%;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 20;
  }

  .respo .close {
    padding: 2px 10px;
    border-radius: 5px;
    display: initial;
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-color: #f1f1f1;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    z-index: 20;
  }

  .banner .respo form { 
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin: 15px 0 0 0;
    z-index: 20;
  }

  .respo .modal-list {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: static;
    z-index: 20;
  }

  .respo .modal-list ul {
    max-height: 300px;
    z-index: 20;
  }

  .error {
    display: none;
    top: 105%;
    left: 20px;
    font-size: 8px;
  }

  .respo .error {
    width: 100%;
    margin-top: 5px;
    position: absolute;
    top: 80%;
    left: 9%;
    font-size: 12px;
    z-index: 10;
  }

  .respo form > div:first-child {
    border: 1px solid #000;
    z-index: 10;
  }

  /* remove hover effects */
  .logo a:hover,
  .logo a:hover figure {
    color: #000;
  }

  .modal-list ul::-webkit-scrollbar-thumb:hover {
    background: #888;
    cursor: pointer;
  }

  .modal-list li a:hover { background: #fff; }
  .banner-content form button:hover::after { color: #000; }

  .about-cats div > a:hover,
  .about-cats div > a:hover::after,
  .breeds div > a:hover,
  .breeds div > a:hover::after {
    color: #666;
  }

  .breeds ul a:hover { color: #000; }
  .toggleUp:hover::after { opacity: .3; }
  footer .logo a:hover { color: #fff; }
}

/*media query for 414px starts here*/
@media only screen and (max-width: 414px) {
  .breeds ul figure {
    width: 100%;
    margin: 0 auto;
  }

  .breeds ul li { width: 80%; }

  .breeds ul li:first-child figure::before {
    margin-top: 13%;
    right: 100%;
  }

  .modal { width: 70%; }
  .banner-content p { width: 80%; }

  .modal.respo {
    width: 90%;
    top: 20%;
    padding: 10px 6px 40px 6px;
  }

  .respo .error {
    top: 65%;
    left: 7%;
  }

  .respo .modal-list ul {
    max-height: 200px;
    z-index: 20;
  }
}